h1,h2{
	text-align: center;
}
header{
	position: fixed;
	width: 100%;
  z-index: 1;
}
h2{
  margin-top: 100px
}
.border{
  border-bottom: 4px solid black
}
.name{
  float: right;
}
p{
  margin-top: 50px
}
footer p{
  position: relative;
  bottom: 0;
  margin-top: 100px;
  text-align: center;
}
ul li:hover{ 
	background: #A9A9A9;
}
ul li,ul li a{
	transition: 1.5s;
}
h1,h2 {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-name: header;
  }
  @keyframes header{
    from {
      margin-left: 100%;
      width: 100%; 
    }

    to {
      margin-left: : 50%;
     width: 100%;
    }
  }